<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Agregar Factura</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Agregar Datos:</h1>
    <form th:action="@{/guardar3}" th:object="${emisor}" method="post">
        <div class="form-group">

            <div class="form-group">
                <label>RUT:</label>
                <input class="form-control" type="text"  th:field="*{rutEmisor}">
            </div>
            <div class="form-group">
                <label>RAZON SOCIAL:</label>
                <input class="form-control" type="text" th:field="*{rzonSociemisor}">
            </div>
            <div class="form-group">
                <label>GIRO:</label>
                <input class="form-control" type="text"  th:field="*{giroEmisor}">
            </div>
            <div class="form-group">
                <label>DIRECCION:</label>
                <input class="form-control" type="text"  th:field="*{dirOrigen}">
            </div>
            <div class="form-group">
                <label>COMUNA:</label>
                <input class="form-control" type="text"  th:field="*{cmnaEmisor}">
            </div>
                <label>CIUDAD:</label>
                <input class="form-control" type="text"  th:field="*{ciudadEmisor}">
            </div>
        <div class="form-group">
            <label>IMPUESTO:</label>
            <input class="form-control" type="number"  th:field="*{impuesto}">
        </div>
        <div class="form-group">
            <label>Precio Admin servicio:</label>
            <input class="form-control" type="text"  th:field="*{prcAdminservicio}">
        </div>
        <div class="form-group">
            <label>Precio Electricida servicio:</label>
            <input class="form-control" type="text"  th:field="*{prcElec}">
        </div>
        <div class="form-group">
            <label>Precio Cargo:</label>
            <input class="form-control" type="text"  th:field="*{prcCargo}">
        </div>
        <div class="form-group">
            <label>Precio Compra:</label>
            <input class="form-control" type="text"  th:field="*{prcCompra}">
        </div>
        <div class="form-group">
            <label>Precio Tpobase:</label>
            <input class="form-control" type="text"  th:field="*{prcTpobase}">
        </div>
        <div class="form-group">
            <label>Precio Cargo Ener:</label>
            <input class="form-control" type="text"  th:field="*{prcCargoener}">
        </div>
        <div class="form-group">
            <label>Precio Arriendo:</label>
            <input class="form-control" type="text"  th:field="*{prcArriendo}">
        </div>
        <div class="form-group">
            <label>Indicador Servicio:</label>
            <input class="form-control" type="text"  th:field="*{indServicio}">
        </div>

        <button class="btn btn-primary" type="submit">Guardar</button>
        <a  class="btn btn-primary" href="/regresarEmisor">Regresar</a>
    </form>

</div>
</body>
</html>
