<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head th:replace="layout/layout :: head">
  <meta charset="UTF-8">
  <title>Facturador</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
</head>
<body>
<div class="container-fluid" layout:fragment="page-content">
  <h1>Cuenta Corriente Emisor</h1>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Lectura Anterior</th>
      <th>PORCENTAJE1</th>
      <th>PORCENTAJE2</th>
      <th>Lectura Actual</th>
      <th>Otros Cargos</th>
      <th>Total</th>
      <th>Impuesto</th>
      <th>Total a Pagar</th>
      <th></th>
      <th></th>
      <th></th>
      <th>Imprimir XML</th>
      <th></th>
      <th></th>
      <th>Descargar XML</th>
      <th>Descargar PDF</th>
      <th>Descargar NC</th>


    </tr>
    </thead>
    <tbody>
    <tr th:each="consumo : ${consumos}" >
      <td th:text="${consumo.folio}"></td>
      <td th:text="${consumo.lecturaAnt1}"></td>
      <td th:text="${consumo.getPeriodo1}"></td>
      <td th:text="${consumo.getPeriodo2}"></td>
      <td th:text="${consumo.lecturaAct2}"></td>
      <td th:text="${consumo.otrosCargos}"></td>
      <td th:text="${consumo.total}"></td>
      <td th:text="${consumo.iva}"></td>
      <td th:text="${consumo.total}"></td>



      <td>
        <a th:href="@{/consumo/{id}/documento(id=${consumo.folio})}" class="btn btn-info">Documentos</a>
      </td>

      <td>
        <a th:href="@{/consumo-editar/{id}/{idRecep}(id=${consumo.folio},idRecep=${consumo.receptor.getIdRecep()})}" class="btn btn-warning">EDITAR</a>
      </td>

      <td>
        <a th:href="@{/consumo/{id}/eliminar(id=${consumo.folio})}" class="btn btn-danger">Eliminar</a>
      </td>
      <td>
        <a th:href="@{/{idEmis}/{idRecep}(idEmis=${consumo.emisor.idEmis}, idRecep=${consumo.receptor.idRecep})}+ @{/consumo/{id}/imprimir-xml(id=${consumo.folio})}" class="btn btn-success">imprimir-xml</a>
      </td>
      <td>
        <a th:href="@{/{idEmis}/{idRecep}(idEmis=${consumo.emisor.idEmis}, idRecep=${consumo.receptor.idRecep})}+ @{/consumo/{folio}/imprimir-xmlNC(folio=${consumo.folio})}" class="btn btn-success">imprimir-xmlNC</a>
      </td>

      <td>
        <a th:href="@{/agregar-nc/{id}(id=${consumo.folio})}" class="btn btn-success">Generar-NC</a>
      </td>


      <td>
        <a th:href="@{/{idEmis}/{idRecep}(idEmis=${consumo.emisor.idEmis}, idRecep=${consumo.receptor.idRecep})}+ @{/consumo/{id}/download-xml(id=${consumo.folio})}" class="btn btn-primary">Descarga-xml</a>
      </td>
      <td>
        <a th:href=" @{/receptor/{idRecep}/generar-pdfNC(idRecep=${consumo.receptor.idRecep})}+@{/consumo/{id}(id=${consumo.folio})}" class="btn btn-link">Descarga-NOTACREDITO</a>
      </td>
      <td>
        <a th:href=" @{/receptor/{idRecep}/generar-pdf(idRecep=${consumo.receptor.idRecep})}+@{/consumo}" class="btn btn-link">Descarga-PDF</a>
      </td>

    </tr>

    </tbody>
  </table>


  <div>
    <a  class="btn btn-primary" href="/regresar">Regresar</a>
  </div>
</div>
<th:block layout:fragment="page-scripts">

</th:block>

</body>
</html>
